<ng-template #tooltipTemplate>
  <ng-container *ngIf="hoveredItem">
    <app-tooltip [item]="hoveredItem"></app-tooltip>
  </ng-container>
</ng-template>


<div class="card bg-secondary dark-shadow" style="max-width: 100%; overflow: hidden;">
  <div class="card-body">
    <h2>Magic Box</h2>


    <div class="table-responsive mb-0 pb-0" style="font-size: 20px; max-width: 100%; overflow: hidden;">
      <table class="table table-hover"
             [cdkDropListData]="toolbox.items"
             (cdkDropListDropped)="onDrop($event)"
             cdkDropList id="magic-toolbox">
        <thead>
        <tr>
          <th class="bg-info bg-opacity-25">Item</th>
          <th class="bg-info bg-opacity-25">Size</th>
        </tr>
        </thead>
        <tbody class="bg-info bg-opacity-25">
        <tr *ngFor="let item of toolbox.items"
            [ngClass]="{'container': item.isContainer()}"
            (click)="openItemModal(toolbox, item)"
            (mouseenter)="hoveredItem = item"
            (mouseleave)="hoveredItem = null"
            [tooltip]="tooltipTemplate"
            container="body"
            triggers="hover"
            placement="top"
            style="position: relative;"
            (cdkDragStarted)="onDragStarted()"
            cdkDrag>
          <td class="bg-info bg-opacity-25">{{ item.name }}</td>
          <td class="bg-info bg-opacity-25">{{ item.size }}</td>
        </tr>
        <tr (click)="openItemModal(toolbox)"
          (mouseenter)="hoveredItem = null"
          (mouseleave)="hoveredItem = null">
          <td class="bg-info bg-opacity-25">+</td>
          <td class="bg-info bg-opacity-25"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Gold and EXP Input -->
    <h4>
      Gold:
      <input class="form-control-sm animate__animated"
             type="number" inputmode="numeric"
             pattern="[0-9]*" min="0" step="1"
             [class.animate__shakeX]="shakeGold"
             (keydown)="onKeyDown($event, 'gold')"
             [(ngModel)]="goldAmount"
             (keydown.enter)="onEnter($event)"
             (animationend)="onAnimationEnd('gold')"
             style="background-color: #ffffff; color: #000000;">
    </h4>

    <h4>
      EXP:
      <input class="form-control-sm animate__animated"
             type="number" inputmode="numeric"
             pattern="[0-9]*" min="0" step="1"
             [class.animate__shakeX]="shakeExp"
             (keydown)="onKeyDown($event, 'exp')"
             [(ngModel)]="expAmount"
             (keydown.enter)="onEnter($event)"
             (animationend)="onAnimationEnd('exp')"
             style="background-color: #ffffff; color: #000000;">
    </h4>
  </div>
</div>
